@font-face {
    font-family: PlusJakarta;
    src: url("/assets/fonts/PlusJakartaSans.ttf");
}

body,
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PlusJakarta;
}

button {
    border: none;
    cursor: pointer;
}

header {
    background: #EFF0F3;
}

/* NAVBAR */

header nav {
    display: flex;
    justify-content: space-between;
    padding: 0 140px;
    width: 100%;
    height: 50px;
    box-shadow: 0px 6px 13px -3px #D7D7D7;
}

nav h1 {
    display: flex;
    align-items: center;
    color: #2B2C34;
}

nav h1>span {
    font-size: 12px;
    margin-top: 8px;
    color: #6246EA;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #2B2C34;
    font-weight: 600;
    padding: 0 15px;
}

nav ul li:nth-child(4)::before {
    content: url('/images/navbar/search_icon.svg');
    position: absolute;
    top: 17px;
}

nav ul li:nth-child(5) {
    background: #6246EA;
    padding: 7px 0;
    border-radius: 3px;
}

nav ul li:nth-child(5)::before {
    content: url('/images/navbar/buy_me_coffee_icon.svg');
    position: relative;
    top: 3px;
    left: 10px;
}

/* NAVBAR END */



.container {
    margin: 0 140px;
}

/* HERO */

#hero {
    display: flex;
    justify-content: space-between;
}

#content_hero {
    margin-top: 110px;
}

#hero img {
    margin-top: 30px;
}

#hero #content_hero {
    width: 545px;
}

#content_hero h2 {
    width: 270px;
    font-size: 35px;
}

#content_hero p {
    color: #9A9494;
    border-left: 2px solid #2B2C34;
    padding-left: 5px;
    margin: 20px 0;
}

#content_hero input {
    border: none;
    border-radius: 2px;
    padding-left: 10px;
    color: #9A9494;
    width: 360px;
    height: 40px;
}

#content_hero button {
    background: #6246EA;
    color: #FFFFFE;
    padding: 12px 15px;
    font-weight: 600;
    border-radius: 3px;
    margin-left: 10px;
}

#scroll_btn {
    background: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 90px;
}

/* HERO END */

/* CATEGORY */

.section_infos {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

#items {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#card {
    background: #FFFFFE;
    width: 180px;
    margin-bottom: 45px;
    height: 190px;
    padding: 50px 20px;
    border-radius: 4px;
}

#card:hover {
    background: #6246EA;
    color: #FFFFFE;
}

#card img {
    margin-bottom: 25px;
}

/* CATEGORY END */

.card_article {
    background: #FFFFFE;
    width: 240px;
    height: auto;
    border-radius: 6px;
    box-shadow: 4px 6px 13px -3px #D7D7D7;
    cursor: pointer;
}

.card_article img {
    width: 100%;
}

.card_content {
    padding: 10px;
    width: 100%;
}

.card_content h4 {
    margin-top: 10px;
}

.more_info {
    display: flex;
    align-items: center;
}

.more_info img {
    width: 36px;
    height: 36px;
    margin-top: 60px;
}

.author {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    margin-left: 10px;
}

.author p {
    font-size: 14px;
}

#more_article {
    display: block;
    padding: 12px 8px;
    color: #FFFFFE;
    background: #6246EA;
    font-weight: 700;
    text-transform: capitalize;
    border-radius: 4px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.send_mail {
    background: #EFF0F3;
}

#mail_section {
    /* background: #6246EA; */
    margin-top: 50px;
}

#mail_section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

.txt_mail {
    text-align: center;
    margin-top: 20px;
}

.txt_mail h3 {
    font-size: 30px;
}

.txt_mail p {
    color: #C0C0C0;
    margin: 10px 0;
}

#inpt {
    border: none;
    border-radius: 2px;
    padding-left: 10px;
    color: #9A9494;
    width: 390px;
    margin-bottom: 40px;
    height: 40px;
}

#btn_send {
    background: #6246EA;
    color: #FFFFFE;
    padding: 12px 15px;
    font-weight: 600;
    border-radius: 3px;
    border: none;
    margin-left: 10px;
}

footer {
    background: #E4E5E9;
}